@media (min-width: 1200px) {
  .flyer,
  .info {
    width: 1170px;
  }

  .nav-container {
    width: 270px;
    height: 558px;
  }

  .window {
    width: 799px;
    height: 500px;
  }

  .nav-text {
    font-size: 22px;
    line-height: 51px;
  }

  .caption {
    font-size: 40px;
    line-height: 48px;
    bottom: -63px;
  }
}

@media (min-width: 980px) and (max-width: 1199px) {
  .flyer,
  .info {
    width: 940px;
  }

  .nav-container {
    width: 220px;
    height: 518px;
  }

  .window {
    width: 639px;
    height: 460px;
  }

  .nav-text {
    font-size: 22px;
    line-height: 31px;
  }

  .nav-menu {
    padding-top: 45px;
  }

  .caption {
    font-size: 30px;
    line-height: 30px;
    bottom: -63px;
  }

  .slide-indicator {
    bottom: 61.2px;
  }
}

@media (min-width: 768px) and (max-width: 979px) {
  .flyer,
  .info {
    width: 724px;
  }

  .nav-container {
    width: 166px;
    height: 428px;
  }

  .window {
    width: 495px;
    height: 370px;
  }

  .nav-text {
    font-size: 14px;
    line-height: 25px;
  }

  .caption {
    font-size: 20px;
    line-height: 22px;
    bottom: -46px;
  }

  .dot {
    width: 20px;
    height: 20px;
  }

  .slide-indicator {
    bottom: 57px;
  }
}

@media (min-width: 481px) and (max-width: 767px) {
  .flyer {
    flex-direction: column;
    align-items: center;
    height: 912px;
  }

  .info {
    flex-direction: column;
    margin: 0 72.5px;
    row-gap: 30px;
  }

  .nav-container {
    width: 440px;
    height: 559px;
  }

  .window {
    width: 440px;
    height: 333px;
  }

  .nav-text {
    font-size: 24px;
    line-height: 32px;
    padding: 5px 20px 5px 0px;
  }

  .caption {
    font-size: 20px;
    line-height: 22px;
    bottom: -46px;
  }

  .slide-indicator {
    bottom: 50px;
  }
}

@media (max-width: 480px) {
  .nav-text {
    font-size: 24px;
    line-height: 32px;
    padding: 5px 20px 5px 0px;
  }

  .flyer {
    display: none;
  }

  .phone-menu-wrapper {
    display: block;
  }

  .phone-menu {
    display: none;
  }

  section {
    margin: 0;
  }

  .info {
    flex-direction: column;
    margin: 0 20px;
    row-gap: 30px;
  }
}

@media (max-width: 767px) {
  .left.transform {
    transform: none;
  }
  .right.transform {
    transform: none;
  }
  .info > .move {
    transition: none;
    -moz-transition: none;
    -webkit-transition: none;
    -o-transition: none;
    opacity: 1;
  }
}
