/* {{{ global */
*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html,
body {
  background-color: #edd4bd;
  font-family: "Didact Gothic", sans-serif;
  min-width: 320px;
  color: #777;
  font-size: 18px;
  line-height: 26px;
  font-weight: 400;
  -moz-osx-font-smoothing: grayscale;
  -webkit-font-smoothing: antialiased;
  -moz-font-smoothing: antialiased;
  -webkit-text-size-adjust: 100%;
  -ms-text-size-adjust: 100%;
}

.transition {
  transition: all 0.3s ease-out;
  -moz-transition: all 0.3s ease-out;
  -webkit-transition: all 0.3s ease-out;
  -o-transition: all 0.3s ease-out;
}

.border {
  border-radius: 20px 70px 30px 70px / 30px 40px 70px 40px;
  -moz-border-radius: 20px 70px 30px 70px / 30px 40px 70px 40px;
  -webkit-border-radius: 20px 70px 30px 70px / 30px 40px 70px 40px;
}

::selection {
  background: transparent;
  color: #bc9d81;
}
/* }}}*/

/* {{{ phone menu */
.phone-menu-wrapper {
  display: none;
  background-color: #aec5a5;
  position: sticky;
  position: -webkit-sticky;
  z-index: 90;
  top: 0;
}

.phone-menu-icons {
  display: flex;
  justify-content: space-between;
  background: #aec5a5;
  list-style: none;
  padding: 16px;
}

.phone-menu-icons i::before {
  color: #ffeed4;
  font-size: 32px;
}

.phone-menu {
  list-style: none;
  padding: 100px 10px;
  position: fixed;
  top: 65px;
  bottom: 0;
  left: 0;
  right: 0;
  background-color: rgba(174, 197, 165, 0.95);
  /* background-color: rgba(0, 77, 74, 0.9); */
}
/* }}}*/

/* {{{ flyer */
.flyer {
  margin-top: 32px;
  margin-bottom: 20px;
  margin-left: auto;
  margin-right: auto;
  display: flex;
  align-items: flex-end;
  justify-content: space-between;
}

.nav-container {
  background: url(../images/backgrounds/px1.png);
}

.nav-menu {
  padding: 20px;
}

.logo-wrapper {
  position: relative;
  padding-top: 50%;
  width: 100%;
}

.aspect-ratio {
  position: absolute;
  top: 0;
  left: 0;
  height: 100%;
  width: 100%;
}

.logo-wrapper img {
  border-radius: 20px 70px 0px 0px / 30px 40px 0px 0px;
  -moz-border-radius: 20px 70px 0px 0px / 30px 40px 0px 0px;
  -webkit-border-radius: 20px 70px 0px 0px / 30px 40px 0px 0px;
}

.nav-menu li {
  list-style: none;
  border-bottom: 1px solid #b6caae;
}

.nav-menu li:last-child {
  border-bottom: transparent;
}

.nav-text {
  display: block;
  text-decoration: none;
  font-family: "Baloo Bhaijaan", cursive;
  font-weight: 400;
  color: #fff3e0;
  position: relative;
  white-space: nowrap;
}

.nav-menu a:hover,
.phone-menu a:hover,
.current-page {
  color: #dc948b;
}

.fa-paper-plane::before {
  font-family: FontAwesome;
  position: absolute;
  right: 0;
  top: 0;
  font-size: 16px;
}
/* }}} */

/* {{{ slide window */
.window {
  background: url(../images/backgrounds/px2.png);
  padding: 20px 20px 50px 19px;
  position: relative;
}

#slides-show {
  position: relative;
  padding-top: 52.63%;
  width: 100%;
}

.caption {
  position: absolute;
  left: 0;
  font-family: "Baloo Bhaijaan", cursive;
  color: #fff3e0;
  padding-left: 15px;
}

.slide-indicator {
  position: absolute;
  right: 20px;
  bottom: 20px;
}

.dot {
  display: inline-block;
  width: 24px;
  height: 24px;
  background: #fff3e0;
  border: 1px solid #fff3e0;
  margin: 0 3px;
  border-radius: 50%;
}

.dot:hover,
.dot.active {
  background: #aec5a5;
  border: 1px solid #aec5a5;
}
/* }}} */

/* {{{ section */
section {
  background: #ffeed4;
  margin-top: 35px;
  padding-bottom: 90px;
}

.info {
  background: #ffeed4;
  padding: 90px 0;
  margin: 0 auto 15px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  column-gap: 30px;
}

.no-gap {
  column-gap: 0px;
}

.info > .move {
  transition: transform 0.8s linear;
  -moz-transition: transform 0.8s linear;
  -webkit-transition: all 0.8s linear;
  -o-transition: transform 0.8s linear;
  opacity: 0;
}

.left.transform {
  transform: translateX(-15px);
  opacity: 1;
}

.right.transform {
  transform: translateX(15px);
  opacity: 1;
}

.second-row {
  padding: 0 0 90px;
}

.reverse {
  flex-direction: row-reverse;
}

p {
  font-family: "Didact Gothic", sans-serif;
  font-size: 18px;
  line-height: 26px;
  margin: 0 0 10px;
  text-align: justify;
}

h5 {
  color: #dc948b;
  font-size: 20px;
  line-height: 28px;
  font-family: "Baloo Bhaijaan", cursive;
  padding-bottom: 10px;
  text-align: justify;
}

.flex-even {
  flex-basis: 50%;
}

.flex-thirty {
  flex-basis: 30%;
}

.flex-seventy {
  flex-basis: 70%;
}

.info img {
  width: 100%;
}

.section-title {
  font-size: 32px;
  line-height: 40px;
  font-family: "Baloo Bhaijaan", cursive;
  color: #aec5a5;
  margin-bottom: 20px;
}

.first-letter {
  position: relative;
}

.first-letter:after {
  content: "";
  position: absolute;
  height: 3px;
  background: #aec5a5;
  width: 100%;
  bottom: 4px;
  left: 0;
}
/* }}}*/

/* {{{ footer */
footer {
  padding: 40px 20px 20px 20px;
  display: flex;
  flex-direction: column;
  align-items: center;
  background: #bc9d81;
  font-size: 18px;
  font-family: "Baloo Bhaijaan", cursive;
}

.social {
  display: flex;
  list-style: none;
}

.icon {
  margin: 4px;
  width: 50px;
  height: 50px;
  border: 1px solid #ffeed4;
  border-radius: 50%;
  background-color: #aec5a5;
  display: flex;
  justify-content: center;
  align-items: center;
}

.icon-glyph::before {
  color: #ffeed4;
  font-size: 24px;
}

.icon a {
  text-decoration: none;
  width: 24px;
  height: 24px;
  text-align: center;
}

.icon:nth-child(even) {
  background-color: #da9188;
}

.copyright {
  padding-top: 20px;
  color: #fff3e0;
}
/* }}}*/
